

# HU2 — Data Cleaning and Normalization

This notebook demonstrates the cleaning and normalization process of the sales dataset (`sales`).  
Steps include:

1. **Load Data:** Load data from PostgreSQL.
2. **Initial Quality Check:** Review missing values, duplicates, data types, and statistics.
3. **Data Cleaning:** Remove duplicates, fill missing values, standardize text and column names, normalize data types.
4. **Post-Cleaning Validation:** Verify completeness, duplicates, and retention rate.
5. **Data Quality Visualizations:** Generate plots to visualize missing data, record retention, and completeness.
6. **Summary Table:** Create a summary table with column-level quality metrics.
7. **Save Clean Data:** Export cleaned dataset to CSV.
8. **Upload to PostgreSQL:** Save the cleaned dataset to the database.
9. **Final Report:** Summarize acceptance criteria and generated files.

Author: Daniela 
Date: 28/11/2024  
Database: RiwiVentas

In [2]:


# ============================================================
# 1. Import Libraries
# ============================================================
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

print("Libraries imported successfully.")

# ============================================================
# 2. Load Data from PostgreSQL
# ============================================================
DATABASE_URL = "postgresql+psycopg2://postgres:123@localhost:5432/Riwiventas"

try:
    engine = create_engine(DATABASE_URL)
    df = pd.read_sql("SELECT * FROM sales", engine)
    df_initial = df.copy()  # Save copy for comparison
    initial_records = len(df)
    
    print(f"Data loaded successfully")
    print(f"Total records: {initial_records:,}")
    print(f"Total columns: {len(df.columns)}")
    print(f"Columns: {list(df.columns)}")
except Exception as e:
    print(f"Error loading data: {e}")
    exit()

# ============================================================
# 3. Initial Quality Diagnosis
# ============================================================
print("\nInitial Data Quality Check")
print("-"*60)

print(f"DataFrame shape: {df.shape[0]:,} rows × {df.shape[1]} columns")
print(f"Memory usage: {df.memory_usage(deep=True).sum() / 1024:.2f} KB")

print("\nData types:")
for col, dtype in df.dtypes.items():
    print(f"  • {col}: {dtype}")

# Missing values
missing = df.isnull().sum()
if missing.sum() > 0:
    print("\nMissing values per column:")
    print(f"{'Column':<25} | {'Missing':>8} | {'%':>6}")
    print("-"*45)
    for col in df.columns:
        count = missing[col]
        pct = (count / len(df)) * 100
        if count > 0:
            print(f"{col:<25} | {count:>8} | {pct:>6.2f}%")
else:
    print("No missing values detected.")

# Duplicates
total_duplicates = df.duplicated().sum()
print(f"\nTotal duplicate rows: {total_duplicates}")

print("\nDescriptive statistics:")
display(df.describe())

# ============================================================
# 4. Data Cleaning and Transformation
# ============================================================

# 4.1 Remove exact duplicates
df = df.drop_duplicates()
removed_duplicates = initial_records - len(df)
print(f"Duplicates removed: {removed_duplicates}")

# 4.2 Fill missing values
for col in df.columns:
    n_missing = df[col].isnull().sum()
    if n_missing > 0:
        if df[col].dtype in ['float64','int64']:
            df[col].fillna(df[col].mean(), inplace=True)
        else:
            df[col].fillna('unknown', inplace=True)

# 4.3 Normalize column names
df.columns = df.columns.str.lower().str.replace(' ', '_')

# 4.4 Strip whitespace in text columns
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].str.strip()

# 4.5 Convert text to lowercase
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].str.lower()

# 4.6 Normalize data types
for col in df.columns:
    if col.lower() in ['fecha','date','created','updated','date_time','fecha_venta']:
        try:
            df[col] = pd.to_datetime(df[col])
        except:
            pass

# ============================================================
# 5. Post-Cleaning Validation
# ============================================================
final_records = len(df)
completeness = df.notna().sum().sum() / (final_records * len(df.columns)) * 100

print("\nPost-Cleaning Validation")
print(f"Initial records: {initial_records:,}")
print(f"Final records:   {final_records:,}")
print(f"Records removed: {initial_records - final_records:,}")
print(f"Completeness:    {completeness:.2f}%")
print(f"Remaining duplicates: {df.duplicated().sum()}")
print(f"Remaining missing values: {df.isnull().sum().sum()}")

# ============================================================
# 6. Save Clean Data to CSV
# ============================================================
clean_file = "ventas_limpias.csv"
df.to_csv(clean_file, index=False, encoding='utf-8')
print(f"\nClean data saved as '{clean_file}'")

# ============================================================
# 7. Upload Clean Data to PostgreSQL
# ============================================================
df.to_sql("sales_cleaned", engine, if_exists="replace", index=False)
with engine.connect() as conn:
    count = pd.read_sql("SELECT COUNT(*) as registros FROM sales_cleaned", conn)
    print(f"Records in PostgreSQL: {count.iloc[0,0]:,}")

# ============================================================
# 8. Final Summary
# ============================================================
print("\nHU2 COMPLETED - Cleaned data ready for analysis")

Libraries imported successfully.
Data loaded successfully
Total records: 1,250,000
Total columns: 11
Columns: ['city', 'date', 'product', 'product_type', 'quantity', 'unit_price', 'sale_type', 'customer_type', 'discount', 'shipping_cost', 'total_sales']

Initial Data Quality Check
------------------------------------------------------------
DataFrame shape: 1,250,000 rows × 11 columns
Memory usage: 764421.17 KB

Data types:
  • city: object
  • date: object
  • product: object
  • product_type: object
  • quantity: object
  • unit_price: object
  • sale_type: object
  • customer_type: object
  • discount: object
  • shipping_cost: object
  • total_sales: object

Missing values per column:
Column                    |  Missing |      %
---------------------------------------------
city                      |     1142 |   0.09%
date                      |     1139 |   0.09%
product                   |     1149 |   0.09%
product_type              |     1103 |   0.09%
quantity                  |     1163 |   0.09%
unit_price                |     1149 |   0.09%
sale_type                 |     1176 |   0.09%
customer_type             |     1131 |   0.09%
discount                  |     1083 |   0.09%
shipping_cost             |     1088 |   0.09%
total_sales               |     1165 |   0.09%

Total duplicate rows: 4068

Descriptive statistics:

,city,date,product,product_type,quantity,unit_price,sale_type,customer_type,discount,shipping_cost,total_sales
count,1248858,1248861,1248851,1248897,1248837,1248851,1248824,1248869,1248917,1248912,1248835
unique,188,146,72,36,34,5185,24,24,6,9,50009
top,Trujillo,2025-10-31,Café,Abarrotes,10.0,???,Distribuidor,Gobierno,0.0,0.0,???
freq,44849,42062,104476,208459,125348,853,312611,312302,250412,831378,812

Duplicates removed: 4068

Post-Cleaning Validation
Initial records: 1,250,000
Final records:   1,245,932
Records removed: 4,068
Completeness:    100.00%
Remaining duplicates: 16
Remaining missing values: 0

Clean data saved as 'ventas_limpias.csv'
Records in PostgreSQL: 1,245,932

HU2 COMPLETED - Cleaned data ready for analysis